@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply h-full bg-slate-300;
}
body {
    @apply text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
